@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: white;
  border-radius: 20px;
  padding: 2px;
  color: white;
  background-color: rgb(59 130 246)
}


.grey-qo-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

@media (max-width: 120px) {
  .hidden-when-small {
    display: none;
  }
}

.dark {
  background-color: black;
  transform: translate(2s);
}

.logo {
  border-radius: 80px;
}